// footer-section
.footer-section {
  @include full-width;
  background-color: #0f0f0f;
  padding: 106px 15px 60px;
  color: $white;
  font-family: $gothamlight;
  @include tablet {
    padding: 86px 15px 40px;
  }
  @include i-pad {
    padding: 55px 15px 40px;
  }
  @include mobile-lg {
    padding: 0 15px 40px;
  }
  @include mobile-sm {
    padding: 0 15px 30px;
  }
  // inner-container
  .inner-container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1218px;
    @include tablet1300{
      width: 1170px;
    }
    @include tablet{
      width: 970px;
    }
    @include i-pad{
      width: 750px;
    }
    @include mobile-lg{
      width: 100%;
    }
  }
  // ul
  ul {
    margin: 0;
    padding: 0;
  }
  // default
  a, li,p {
    color: #616161;
  }

  a {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    &:hover {
      color: #868686;
      text-decoration: underline;
    }
  }
  // social-link
  .social-link {
    width: 100%;
    float: left;
    text-align: center;
    @include mobile-lg{
      padding: 50px 0 30px;
      margin-bottom: -9px;
    }
    @include mobile-sm{
      padding: 50px 0 40px;
    }
    // ul
    ul {
      font-size: 0;
      li {
        display: inline-block;
        font-size: 16px;
        margin: 0 47px;
        @include tablet1300{
          margin: 0 40px;
        }
        @include tablet {
          margin: 0 30px;
        }
        @include i-pad {
          margin: 0 20px;
        }
        @include mobile-lg {
          margin: 0 15px 20px;
        }
        @include mobile-sm {
          margin: 0 11px 10px;
        }
        @include mobile-xs{
          margin: 0 7px 10px;
        }
        // a
        a {
          color: $white;
        }
      }
    }
  }
  // footer-description
  .footer-description {
    width: 100%;
    float: left;
    padding: 100px 0 67px;
    @include tablet {
      padding: 61px 0 37px;
    }
    @include i-pad {
      padding: 48px 0 17px;
    }
    @include mobile-lg {
      padding: 0 0 40px;
    }
    @include mobile-sm {
      padding: 0 0 30px;
    }
    // col-sm-3
    .col-sm-3 {
      @include mobile-lg {
        margin-bottom: 22px;
        width: 100%;
        float: left;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    // & ,h1
    &, h1 {
      font-size: 15px;
      line-height: 30px;
      @include mobile-sm{
        font-size: 14px;
        line-height: 26px;
      }
    }
    // p
    p{
      margin: 0;
    }
    // h1
    h1 {
      color: $white;
      font-family: $gothammedium;
      margin-bottom: 31px;
      @include tablet1300 {
        margin-bottom: 20px;
      }
      @include tablet {
        margin-bottom: 10px;
      }
      @include i-pad {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  // copyright
  .copyright {
    text-align: center;
    // a
    a {
      margin-top: 22px;
      display: inline-block;
    }
  }
}