.header {
  width: 100%;
  float: left;
  height: 96px;
  line-height: 96px;
  background-color: #fff;
  z-index: 1050;
  position: absolute;
  left: 0;
  top: 0;
  @include i-pad{
    height: auto;
  }
  // container
  .container{
    @include desktop-1250min{
      width: 1230px;
    }
  }
  // navbar-header
  .navbar-header {
    padding-top: 17px;
    // navbar-toggle
    .navbar-toggle{
      line-height: normal;
      margin-bottom: 0;
      padding-right: 0;
      color: $black;
    }
  }
  .navbar{
    @include i-pad{
      margin-bottom: 22px;
      .pull-right{
        width: 100%;
        margin: 0;
      }
      .navbar-collapse.in{
        overflow: visible;
        margin: 0;
        width: 100%;
        float: left;
        padding: 0;
        border: 0;
      }
      .navbar-collapse ul{
        max-height: none;
        border-top: solid 2px;
        padding-top: 19px;
        margin-top: 18px;
      }
    }
  }
  nav {
    ul {
      li {
        @include i-pad{
          padding: 8px 0;
        }
        a {
          color: #000;
          font-size: 14px;
          line-height: 96px;
          font-family: Gotham-Medium;
          padding: 0px 22px;
          @include i-pad{
            line-height: 1.5;
            padding: 0;
          }
          &:focus,
          &:hover {
            background: none;
          }
          &.inscription-b {
            background: #000;
            line-height: normal;
            color: #fff;
            padding: 12px 43px;
            border-radius: 30px;
            position: relative;
            top: 29px;
            margin-left: 30px;
            @include i-pad{
              top: 0;
              margin-left: 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

//banner
.banner {
  @include full-width;
  height: 100%;
  background-image: url("../images/bnr-img.png");
  background-color: #1d1d1d;
  background-repeat: no-repeat;
  background-position: bottom center;
  text-align: center;
  padding-top: 184px;
  @include tablet1600{
    background-size: 500px;
  }
  @include tablet{
    background-size: 40%;
  }
  @include i-pad{
    background-size: 500px;
  }
  @include mobile-lg {
    background-size: 300px;
  }
  @include mobile-sm{
    background-size: 70%;
    background-position: left 45% bottom;
  }
  @include mobile-xs-large{
    background-size: 90%;
    background-position: left 26% bottom;
  }
  // h1
  h1 {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    padding: 0;
    margin: 0;
    @include tablet {
      line-height: 1.5;
      font-size: 50px;
    }
    @include i-pad {
      font-size: 40px;
    }
    @include mobile-lg {
      font-size: 30px;
    }
    @include mobile-sm {
      font-size: 24px;
    }
    span {
      font-family: Gotham-Thin;
    }
  }
  // move-to
  .move-to {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -17.5px;
  }
}

// site-btn
.site-btn {
  position: relative;
  overflow: hidden;
  font-family: 'Gotham-Medium';
  font-size: 17px;
  line-height: 30px;
  color: #000;
  background-color: $yellow;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 308px;
  padding: 12.5px 12px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  @include i-pad {
    font-size: 15px;
    line-height: 18px;
    width: 197px;
  }
  @include mobile-md {
    width: 280px;
    max-width: 94%;
  }
  // before
  &:before {
    content: '';
    display: block;
    background-color: #fff;
    position: absolute;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-left: -100%;
  }
  // active
  &:active {
    &:before {
      content: '';
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }
  }
  // hover
  &:hover {
    color: $yellow;
    &:before {
      content: '';
      left: 0;
      margin-left: 0;
    }
  }
  // span
  span {
    position: relative;
    z-index: 2;
  }
}

// underline
.underline {
  text-decoration: underline;
}

// table-block
.table-block {
  display: table;
  width: 100%;
  height: 100%;
  float: left;
  .cell-v {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}