// Material icons
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
// html & body
html, body {
  height: 100%;
}
// mobile-connectivity
.mobile-connectivity {
  @include full-width;
  text-align: center;
  background-color: $white;
  padding: 166px 15px 136px;
  @include tablet {
    padding: 100px 15px;
  }
  @include i-pad {
    padding: 80px 15px;
  }
  @include mobile-lg {
    padding: 50px 15px;
  }
  // title
  .title {
    font-size: 40px;
    line-height: 52.3px;
    font-family: $gothamlight;
    margin-bottom: 48px;
    @include tablet {
      line-height: 1.5;
      font-size: 34px;
      margin-bottom: 40px;
    }
    @include i-pad {
      font-size: 27px;
      margin-bottom: 36px;
    }
    @include mobile-lg {
      font-size: 26px;
      margin-bottom: 32px;
    }
    @include mobile-sm {
      font-size: 22px;
    }
    span {
      display: block;
    }
  }
  // les-ports
  .les-ports {
    width: 100%;
    float: left;
    padding-top: 201px;
    overflow: hidden;
    @include tablet {
      padding-top: 101px;
    }
    @include i-pad {
      padding-top: 80px;
    }
    @include mobile-lg {
      padding-top: 50px;
    }
    // price-usb
    .price-usb {
      @include mobile-lg {
        width: 320px;
        display: inline-block;
      }
      @include mobile-sm {
        width: 280px;
      }
      @include mobile-xs-large {
        width: 242px;
        max-width: 100%;
      }
    }
    // connect-img
    .connect-img {
      @include tablet {
        width: 90%;
      }
      @include i-pad {
        width: 100%;
      }
    }
    // connect-img-sm
    .connect-img-sm {
      float: left;
      width: 200px;
      @include mobile-sm {
        width: 160px;
      }
      @include mobile-xs-large {
        width: 130px;
      }
    }
    h2 {
      font-family: $gothamlight;
      font-size: 30px;
      line-height: 52.3px;
      margin-bottom: 41px;
      width: 100%;
      float: left;
      @include tablet {
        font-size: 28px;
        margin-bottom: 38px;
        line-height: 1.5;
      }
      @include i-pad {
        font-size: 26px;
        margin-bottom: 30px;
      }
      @include mobile-lg {
        margin-bottom: 22px;
      }
    }
    ul {
      width: 100%;
      float: left;
      padding: 0;
      margin: 0;
      font-size: 0;
      position: relative;
      margin-top: 8px;
      left: 8px;
      @include tablet {
        left: 14px;
      }
      @include i-pad {
        left: 13px;
      }
      @include mobile-lg {
        width: auto;
        left: 0;
        float: none;
        overflow: hidden;
        text-align: left;
        margin-top: 170px;
      }
      @include mobile-sm {
        margin-top: 105px;
      }
      @include mobile-xs-large {
        margin-top: 94px;
      }
      li {
        display: inline-block;
        vertical-align: top;
        width: 145px;
        padding: 0 5px;
        @include tablet {
          width: 12%;
        }
        @include i-pad {
          width: 13.5%;
        }
        @include mobile-lg {
          width: 100%;
          display: block;
          float: left;
          padding-left: 15px;
          margin-bottom: 15px;
        }
        @include mobile-sm {
          margin-bottom: 0;
        }
        @include mobile-xs-large {
          margin-bottom: 26px;
        }
        h6 {
          color: #000;
          font-size: 20px;
          line-height: 25px;
          font-family: $gothamlight;
          @include mobile-lg {
            font-size: 18px;
            line-height: 23px;
          }
          @include mobile-xs-large {
            font-size: 14px;
            line-height: 19px;
            margin: 0;
          }
          span {
            font-size: 15px;
            line-height: 30px;
            display: block;
            color: #9a9a9a;
            margin-top: 4px;
            @include mobile-lg {
              font-size: 13px;
              line-height: 26px;
              margin-top: 2px;
            }
            @include mobile-xs-large {
              font-size: 12px;
              line-height: normal;
              margin-top: 1px;
            }
          }
        }
      }
    }
  }
}

// battery-power-detail
.battery-power-detail {
  @include full-width;
  text-align: center;
  background-color: #1d1d1d;
  padding: 73px 15px 47px;
  overflow: hidden;
  font-family: $gothamlight;
  @include tablet {
    padding: 63px 15px 31px;
  }
  @include i-pad {
    padding: 30px 15px 40px;
  }
  h4 {
    color: $yellow;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    @include tablet1221 {
      font-size: 18px;
    }
    @include mobile-md {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  p {
    font-size: 15px;
    line-height: 30px;
    color: #9a9a9a;
    margin: 0;
    @include tablet1221 {
      font-size: 13px;
      line-height: 1.8;
    }
    @include mobile-md {
      font-size: 12px;
    }
    @include i-pad {
      br {
        display: none;
      }
    }
    strong {
      color: $white;
      text-transform: uppercase;
      border-bottom: solid 1px #717171;
      line-height: 0.9;
      @include tablet {
        line-height: 1;
      }
    }
  }
  // chargeable & speaker-box
  .chargeable, .speaker-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    @include mobile-md {
      width: 100%;
      float: left;
    }
  }
  // speaker-box
  .speaker-box {
    margin-top: -60px;
    @include i-pad {
      margin-top: 30px;
    }
  }
  .power, .prise-box, .prise-usb, .wifi {
    position: absolute;
    bottom: 0;
    letter-spacing: 0.1px;
    z-index: 10;
    @include mobile-lg {
      padding: 0 15px;
      float: left;
      margin-top: -20%;
      position: relative;
    }
    @include mobile-sm {
      margin-top: -18%;
    }
  }
  // .center-block
  .center-block {
    @include mobile-lg {
      width: 135%;
      max-width: none;
      position: relative;
      margin-left: -6%;
      @include left-equal;
    }
  }
  // power
  .power {
    width: 352px;
    right: 434px;
    bottom: 41px;
    // tablet1221
    @include tablet1221 {
      right: 34%;
      bottom: 45px;
    }
    // i-pad
    @include i-pad {
      bottom: auto;
      top: 70%;
      left: 31%;
      right: auto;
      width: 270px;
    }
    // mobile-lg
    @include mobile-lg {
      padding-right: 0;
      text-align: left;
      width: 50%;
      right: 0;
      left: 0;
      top: 0;
    }
  }
  // prise-usb
  .prise-usb {
    width: 220px;
    right: 131px;
    bottom: 71px;
    @include tablet1221 {
      right: 9.5%;
      bottom: 68px;
    }
    @include i-pad {
      bottom: auto;
      top: 70%;
      right: 9%;
      width: 152px;
    }
    @include mobile-lg {
      text-align: right;
      width: 50%;
      float: right;
      right: 0;
      left: 0;
      top: 0;
    }

  }
  // prise-box
  .prise-box {
    width: 123px;
    left: 272px;
    bottom: 60px;
    @include tablet1221 {
      left: 22.5%;
    }
    @include i-pad {
      bottom: auto;
      top: 70%;
      left: 18%;
    }
    @include mobile-lg {
      padding-right: 0;
      text-align: left;
      width: 50%;
      right: 0;
      left: 0;
      top: 0;
    }
  }
  // wifi
  .wifi {
    width: 135px;
    right: 160px;
    bottom: 90px;
    @include tablet1221 {
      right: 13%;
      bottom: 83px;
    }
    @include i-pad {
      bottom: auto;
      top: 70%;
      right: 9%;
    }
    @include mobile-lg {
      width: 50%;
      text-align: right;
      float: right;
      right: 0;
      left: 0;
      top: 0;
    }
  }
}

// device-description
.device-description {
  @include full-width;
  background-color: $white;
  padding: 109px 15px 50px;
  overflow: hidden;
  @include tablet {
    padding: 109px 15px 40px;
  }
  @include i-pad {
    padding: 40px 15px;
  }
  @include mobile-lg {
    padding: 20px 15px 40px;
  }
  .mobile-img, p, h1 span, .site-btn {
    position: relative;
    z-index: 4;
  }
  // mobile-img
  .mobile-img {
    margin-bottom: -69px;
    margin-left: 14px;
    @include tablet {
      margin-bottom: -60px;
    }
    @include mobile-lg {
      margin-bottom: -12%;
    }
    @include mobile-sm {
      margin-bottom: -16%;
    }
  }
  // content
  .content {
    padding-left: 67px;
    padding-top: 101px;
    width: 92%;
    @include tablet {
      padding-left: 0;
      width: 100%;
    }
    @include i-pad {
      padding-top: 71px;
    }
    @include mobile-lg {
      padding-top: 0;
    }
    // site-btn
    .site-btn {
      margin-top: 97px;
      @include tablet {
        margin-top: 37px
      }
      @include mobile-lg {
        margin-top: 16px;
      }
    }
  }
  // h1
  h1 {
    font-size: 200px;
    line-height: 0.8;
    margin-bottom: 68px;
    font-family: $gothamthin;
    margin-left: -15px;
    @include i-pad {
      font-size: 140px;
      margin-bottom: 48px;
      margin-left: -10px;
    }
    @include mobile-lg {
      font-size: 100px;
      margin-bottom: 18px;
    }
    &:after {
      content: '';
      background: url('#{$imageUrl}/rounded-texture.png') no-repeat top left;
      background-size: auto;
      margin-top: -24.455%;
      margin-left: -24%;
      position: absolute;
      left: -619px;
      top: -563.5px;
      width: 1820px;
      height: 1820px;
      z-index: 2;
      @include tablet {
        left: -709px;
        top: -589.5px;
      }
      @include i-pad {
        background-size: 1305px;
        left: -485px;
        top: -396.5px;
      }
      @include mobile-lg {
        background-size: contain;
        margin-top: -175px;
        margin-left: -179px;
        left: -665px;
        top: -675px;
      }
    }
  }
  // p
  p {
    font-size: 20px;
    line-height: 1.5;
    font-family: $gothammedium;
    @include i-pad {
      font-size: 18px;
    }
    @include mobile-lg {
      font-size: 16px;
    }
  }
}

// accessories
.accessories {
  @include full-width;
  background-color: #1d1d1d;
  .accessories-img {
    float: left;
  }
}

// change-appliances
.change-appliances {
  @include full-width;
  text-align: center;
  background-color: $yellow;
  padding: 60px 15px 56px;
  font-family: $gothamlight;
  color: $black;
  @include tablet {
    padding: 46px 15px;
  }
  @include i-pad {
    padding: 36px 15px;
  }
  @include mobile-lg {
    padding: 30px 15px;
  }
  @include mobile-sm{
    padding: 55px 15px 30px;
  }
  // clear
  .clear {
    display: block;
    @include i-pad {
      display: none;
    }
  }
  // ul
  ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-top: 90px;
    @include tablet {
      margin-top: 65px;
    }
    @include i-pad {
      margin-top: 50px;
    }
    @include mobile-lg {
      margin-top: 35px;
    }
    li {
      display: inline-block;
      width: 306px;
      height: 234px;
      margin-bottom: 30px;
      vertical-align: top;
      font-family: $gothammedium;
      @include tablet1300 {
        width: 25%;
      }
      @include i-pad {
        width: 30%;
        height: auto;
      }
      @include mobile-lg {
        width: 48%;
      }
      @include mobile-sm {
        width: 100%;
        margin-bottom: 40px;
      }
      // table-block
      .table-block {
        height: 101px;
        @include mobile-sm{
          height: auto;
        }
        .cell-v {
          vertical-align: bottom;
        }
      }
      // a
      a {
        color: $black;
      }
      // h2
      h2 {
        font-size: 15px;
        line-height: 25px;
        margin-top: 32px;
        width: 100%;
        float: left;
        @include mobile-sm {
          margin-bottom: 0;
          margin-top: 15px;
        }
        span {
          display: block;
        }
      }
    }
  }
  p.btn-text {
    margin-top: -26px;
    @include mobile-sm {
      margin-top: 40px;
    }
  }
}

// banniere-section
.banniere-section {
  @include full-width;
  text-align: left;
  background: url('#{$imageUrl}/banniere-img.jpg') no-repeat top center;
  @include bg-cover;
  font-family: $gothammedium;
  padding: 60px 163px;
  color: $white;
  height: 875px;
  @include tablet1300 {
    height: auto;
    padding-bottom: 40%;
  }
  @include mobile-lg {
    padding-bottom: 46%;
  }
  @include mobile-sm {
    padding: 0;
    height: 400px;
    display: table;
    background-position: left 50% top;
  }
  @include mobile-xs-large {
    background-position: left 55% top;
  }
  @include mobile-xs {
    background-position: left 53% top;
  }
  // content-box
  .content-box {
    width: 56%;
    height: 100%;
    float: left;
    @include tablet1500 {
      width: 62%;
    }
    @include tablet1300 {
      width: 64%;
      padding: 60px 100px;
      position: absolute;
      left: 0;
      top: 0;
    }
    @include i-pad {
      padding: 60px 80px;
    }
    @include mobile-lg {
      padding: 40px;
    }
    @include mobile-sm {
      position: static;
      padding: 30px 15px;
    }
  }
  // h2
  h2 {
    font-size: 70.78px;
    line-height: 1.0399;
    margin: 0;
    margin-top: 92px;
    margin-bottom: 40px;
    @include tablet1600 {
      font-size: 60px;
      margin-top: 82px;
    }
    @include tablet1500 {
      margin-top: 72px;
      font-size: 52px;
    }
    @include tablet1300 {
      margin-top: 62px;
      font-size: 50px;
      margin-bottom: 30px;
    }
    @include tablet {
      margin-top: 52px;
      font-size: 40px;
    }
    @include i-pad {
      margin-top: 42px;
      font-size: 30px;
      margin-bottom: 20px;
    }
    @include mobile-lg {
      margin-top: 22px;
      font-size: 26px;
      margin-bottom: 10px;
    }
    @include mobile-sm {
      margin-top: 12px;
      font-size: 22px;
    }
  }
  // p
  p {
    font-size: 28px;
    letter-spacing: 0.2px;
    @include tablet {
      font-size: 24px;
    }
    @include i-pad {
      font-size: 18px;
    }
    @include mobile-sm {
      font-size: 14px;
    }
  }
}

// section-heading
.section-heading {
  font-family: $gothamlight;
  font-size: 30px;
  line-height: 1.5;
  color: $black;
  @include i-pad {
    font-size: 28px;
  }
  @include mobile-lg {
    font-size: 26px;
  }
  @include mobile-sm {
    font-size: 24px;
    margin-top: 0;
  }
}

// en-resume
.en-resume {
  @include full-width;
  text-align: center;
  background-color: #fff;
  font-family: $gothammedium;
  padding: 84px 15px 142px;
  @include tablet1300{
    padding: 64px 15px 132px;
  }
  @include tablet{
    padding: 44px 15px 112px;
  }
  @include i-pad{
    padding: 40px 15px 100px;
  }
  @include mobile-lg{
    padding: 40px 15px;
  }
  // media-en-block
  .media-en-block{
    width: 1254px;
    margin-left: auto;
    margin-right: auto;
    @include tablet1300{
      width: 1170px;
    }
    @include tablet{
      width: 970px;
    }
    @include i-pad{
      width: 750px;
    }
    @include mobile-lg{
      width: 100%;
    }
  }
  // section-heading
  .section-heading{
    margin-bottom: 79px;
    @include tablet{
      margin-bottom: 69px;
    }
    @include i-pad{
      margin-bottom: 50px;
    }
    @include mobile-lg{
      margin-bottom: 40px;
    }
    @include mobile-sm{
      margin-bottom: 30px;
    }
  }
  // site-btn
  .site-btn{
    margin-top: 112px;
    @include tablet{
      margin-top: 86px;
    }
    @include i-pad{
      margin-top: 66px;
    }
    @include mobile-lg{
      margin-top: 46px;
    }
    @include mobile-sm{
      margin-top: 26px;
    }
  }
  // col-md-4
  .col-md-4 {
    margin-bottom: 54px;
    @include mobile-lg{
      width: 50%;
    }
    @include mobile-md{
      width: 100%;
      margin-bottom: 40px;
    }
    @include mobile-sm{
      margin-bottom: 30px;
    }
  }
  // media
  .media, .media-body{
    overflow: visible;
  }
  .media {
    width: 100%;
    float: left;
    text-align: left;
    // media-thumbnail
    .media-thumbnail{
      width: 110px;
      text-align: center;
    }
    // media-left
    .media-left {
      padding-right:0;
    }
    img.battery-in{
      position: relative;
      left: -16px;
    }
    // media-object
    img.media-object {
      max-width: none;
      margin-left: auto;
      margin-right: auto;
    }
    // p
    p {
      font-size: 17px;
      line-height: 30px;
      margin-top: 2px;
      margin-bottom: 0;
      @include tablet{
        line-height: 1.7;
        font-size: 16px;
      }
      @include i-pad{
        font-size: 15px;
      }
      @include mobile-lg{
        font-size: 14px;
      }
      @include mobile-sm{
        font-size: 13px;
      }
      span {
        display: block;
      }
    }
  }
}

// bounce animation
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
  }
}