@mixin full-width {
  width: 100%;
  position: relative;
  float: left;
}
@mixin left-equal {
  left: 50%;
  transform: translate(-50%, 0px);
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
}
@mixin bg-cover {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

$image-path: '../images';
$tablet-1600-width: 1600px;
$tablet-1500-width: 1500px;
$tablet-x-width: 1300px;
$desktop-min-1250: 1250px;
$tablet-xl-width: 1221px;
$tablet-width: 1199px;
$i-pad-width: 991px;
$mobile-lg: 767px;
$mobile-md: 639px;
$mobile-mdscreen: 565px;
$mobile-sm: 479px;
$mobile-device-400: 400px;
$mobile-xs-lg: 350px;
$mobile-xs: 319px;


@mixin tablet1600 {
  @media (max-width: #{$tablet-1600-width}) {
    @content;
  }
}
@mixin tablet1500 {
  @media (max-width: #{$tablet-1500-width}) {
    @content;
  }
}
@mixin tablet1300 {
  @media (max-width: #{$tablet-x-width}) {
    @content;
  }
}
@mixin desktop-1250min {
  @media (min-width: #{$desktop-min-1250}) {
    @content;
  }
}
@mixin tablet1221 {
  @media (max-width: #{$tablet-xl-width}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin i-pad {
  @media (max-width: #{$i-pad-width}) {
    @content;
  }
}

@mixin mobile-lg {
  @media (max-width: #{$mobile-lg}) {
    @content;
  }
}

@mixin mobile-md {
  @media (max-width: #{$mobile-md}) {
    @content;
  }
}

@mixin mobile-mdscr {
  @media (max-width: #{$mobile-mdscreen}) {
    @content;
  }
}

@mixin mobile-sm {
  @media (max-width: #{$mobile-sm}) {
    @content;
  }
}

@mixin mobile-400 {
  @media (max-width: #{$mobile-device-400}) {
    @content;
  }
}

@mixin mobile-xs {
  @media (max-width: #{$mobile-xs}) {
    @content;
  }
}

@mixin mobile-xs-large {
  @media (max-width: #{$mobile-xs-lg}) {
    @content;
  }
}


