// banner
.banner {
  &.x-page {
    background-image: url(../images/x-bage-banner.png);
    background-color: #1d1d1d;
  }
}

// mobile-connectivity
.mobile-connectivity {
  &.oto-x {
    padding: 166px 15px 112px;
    @include mobile-lg {
      padding: 70px 15px 50px;
    }
    .les-ports {
      padding-top: 75px;
      @include mobile-lg {
        text-align: center;
      }
      img {
        @include mobile-lg {
          margin-top: 30px;
        }
      }
      h2 {
        margin-bottom: 0;
      }
      ul {
        @include mobile-lg {
          text-align: center;

          margin-top: 0;
          display: inline-block;
        }
        li {
          width: auto;
          padding-right: 20px;
          h6 {
            font-size: 25px;
            line-height: 30px;
            @include mobile-lg {
              margin-top: 20px;
            }
            span {
              font-size: 18px;
              font-family: Gotham-Medium;
            }
          }
        }
      }
    }
    .left4 {
      padding-left: 0px;
      left: -10px;
      @include tablet1500 {
        left: 0;
      }
      @include i-pad {
        padding-left: 15px;
        padding-right: 25px;
      }
    }
    .right4 {
      padding-right: 0;
      @include i-pad {
        padding-right: 15px;
        padding-left: 25px;
      }
    }
  }
}

//La batterie section
.la-batterie {
  @include full-width;
  background-color: #1d1d1d;
  padding: 170px 0 215px 0;
  @include i-pad {
    padding: 170px 0 95px 0;
  }
  @include mobile-lg {
    padding: 90px 0 00px 0;
  }
  .contents-bat {
    width: 862px;
    margin: 0 auto;
    @include i-pad {
      width: 100%;
    }
    img {
      position: absolute;
      bottom: -290px;
      margin-left: 215px;
      @include tablet {
        bottom: -250px;
        width: 720px;
      }
      @include i-pad {
        bottom: -193px;
        margin-left: 0;
        width: 500px;
        right: 0;
      }
      @include mobile-lg {
        bottom: 0;
        width: 100%;
        right: 0;
        position: relative;
      }
    }
    h2 {
      padding: 0;
      margin: 0;
      color: $white;
      font-size: 40px;
      font-family: Gotham-Light;
      margin-bottom: 30px;
    }
    p {
      font-size: 30px;
      font-family: Gotham-Light;
      color: #5c5c5c;
      width: 450px;
      line-height: 40px;
      @include i-pad {
        width: 100%;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      margin-top: 84px;
      li {
        background-image: url("../images/usb-bg.png");
        background-repeat: no-repeat;
        font-size: 25px;
        color: $yellow;
        font-family: Gotham-Light;
        padding: 15px 10px 80px 60px;
      }
    }
  }
}

//Peu Encombrant
.peu-encombrant {
  @include full-width;
  padding: 230px 0 65px 0;
  @include mobile-lg {
    padding: 50px 0 70px 0;
  }
  .right5 {
    padding-left: 80px;
    padding-top: 21px;
    @include mobile-lg {
      padding-left: 15px;
      padding-top: 0px;
    }
  }
  img {
    margin-top: 23px;
    margin-left: 5px;
    @include mobile-lg {
      margin-left: 0;
    }
  }
  h2 {
    color: #000;
    font-size: 50px;
    font-family: Gotham-Light;
    line-height: 50px;
    margin-bottom: 50px;
    margin-top: 25px;
    @include i-pad {
      font-size: 30px;
      line-height: 32px;
      margin-bottom: 30px;
      margin-top: 15px;
    }
  }
  p {
    font-family: Gotham-Medium;
    font-size: 17px;
    line-height: 29px;
    margin-top: 30px;
    @include i-pad {
      font-size: 13px;
      line-height: 23px;
      margin-top: 14px;
    }
  }
  a {
    display: inline-block;
    margin-top: 58px;
    @include i-pad {
      margin-top: 20px;
    }
  }
}

// 48h pour re-découvrir
.banniere-section {
  &.pour {
    background: url("../images/le-pours.jpg") no-repeat top center;
    background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    .content-box {
      @include mobile-lg {
        width: 100%;
      }
    }
  }
}

//Specifications
.specifications {
  @include full-width;
  padding: 105px 0 120px 0;
  @include mobile-lg {
    padding: 50px 0 70px 0;
  }
  h2 {
    font-size: 30px;
    color: #000;
    font-family: Gotham-Light;
    margin: 0 0 0 0;
    text-align: center;
  }
  .table-content {
    @include full-width;
    background-image: url("../images/specifications-img.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 76px 492px 0 0;
    @include tablet {
      padding: 90px 465px 0 0;
    }
    @include i-pad {
      padding: 630px 0px 0 0;
      background-position: top 60px center;
    }
    @include mobile-sm {
      background-size: 287px;
      padding-top: 450px;
    }
    ul {
      width: 100%;
      padding: 0;
      margin: 0;
      li {
        float: left;
        width: 50%;
        border-top: 1px solid #dedede;
        height: 46px;
        line-height: 46px;
        color: #000000;
        font-family: Gotham-Light;
        font-size: 17px;
        @include mobile-lg {
          font-size: 15px;
        }
        @include mobile-sm {
          font-size: 12px;
          height: 40px;
          line-height: 40px;
          white-space: nowrap;
          overflow: hidden;
        }
        &.btnone {
          border-top: 0;
        }
        &.bbnone {
          border-bottom: 1px solid #dedede;
        }
      }
    }
  }
  //  button
  .btm-btn {
    @include full-width;
    text-align: center;
    padding-top: 132px;
    @include i-pad {
      padding-top: 52px;
    }
  }
}

//Newsletter
.newsletter {
  @include full-width;
  background: #1d1d1d;
  text-align: center;
  padding:96px 15px 145px;
  @include tablet{
    padding:96px 15px;
  }
  @include i-pad{
    padding:86px 15px;
  }
  @include mobile-lg{
    padding:76px 15px;
  }
  @include mobile-sm{
    padding:66px 15px;
  }

  h2 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 25px;
    font-family: Gotham-Medium;
    font-weight: bold;
  }
  h3 {
    color: #838383;
    font-size: 20px;
    font-family: Gotham-Light;
    line-height: 30px;
    margin-bottom: 38px;
    margin-top: 21px;
    @include mobile-sm {
      font-size: 18px;
    }
  }
  button,
  input {
    display: inline-block;
    border: 0;
    height: 62px;
    outline: none;
    @include mobile-sm {
      height: 50px;
    }
  }
  input {
    margin-left: -56px;
    width: 720px;
    background: #0f0f0f;
    font-size: 20px;
    font-family: Gotham-Light;
    color: #939393;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 0 100px 0 24px;
    @include tablet{
      margin-left: 0;
    }
    @include i-pad {
      width: 590px;

    }
    @include mobile-lg {
      width: 390px;
    }
    @include mobile-sm {
      width: 100%;
    }
  }
  button {
    width: 150px;
    background: $yellow;
    color: #000;
    border-radius: 0 40px 40px 0;
    font-size: 17px;
    margin-left: -100px;
    @include mobile-sm {
      width: 114px;
      font-size: 15px;
      margin-left: 0;
      float: right;
      margin-top: -50px;
      z-index: 100;
      position: relative;
    }
  }
}
