// font size
$bodysize: 16px !default;

// font family
$gothamblack: 'Gotham-Black';
$gothammedium: 'Gotham-Medium';
$gothamlight: 'Gotham-Light';
$gothamthin: 'Gotham-Thin';

// Black color
$black: #000000;
// white Color
$white: #fff;
// yellow
$yellow: #ffcc00;
//Image path
$imageUrl: '../images';