// bootstrap
@import "../vendor/stylesheets/bootstrap";
// Material icons
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
//variables
@import "variable";
// Mixins
@import "mixins";

//font-family
@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Black.otf') format('opentype'),
  url('../fonts/Gotham-Black.woff') format('woff'), url('../fonts/Gotham-Black.ttf') format('truetype'), url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.otf') format('opentype'),
  url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Light.otf') format('opentype'),
  url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Thin';
  src: url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Thin.otf') format('opentype'),
  url('../fonts/Gotham-Thin.woff') format('woff'), url('../fonts/Gotham-Thin.ttf') format('truetype'), url('../fonts/Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

// defoult
ul {
  list-style: none;
}

a, a:focus, a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*body*/
body {
  color: #000;
  font-size: 14px;
  font-kerning: none;
  counter-reset: section;
  overflow-x: hidden;
  font-family: $gothammedium;
  word-break: break-word;
}

.container {
  @include mobile-lg {
    width: 100%;
    float: left;
  }
}

// header
@import "header";
//slider
@import "slider";
//home
@import "home";
//oto x
@import "oto-x";
//footer
@import "footer";